<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVWINhJ6MFPhLowS36PBn_yQbySsR-tWo</string>
	<key>GCM_SENDER_ID</key>
	<string>555302700948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pethandyApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pethandy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pethandy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555302700948:ios:4105e7b6baec391c43f181</string>
</dict>
</plist>